html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    background-image: url("../images/bgimage2.jpg");
    background-position: center;
    background-size: cover;
}
