html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Poppins', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    background-image: url("../images/bgimage2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form__background {
    background-color: #f5f5f5db;
    padding: 10px;
    margin-top: 50px;
    border-radius: 10px;
}